* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #295da3;
    background-color: #ffcb05;
    font-family: "Press Start 2P", cursive;
}
.App {
    position: relative;
}
